/* Main Content Styles */
.main-content {
  padding-top: 99px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(12, 15, 24) 0%,
    rgb(61, 31, 22) 51%,
    rgb(2, 19, 57) 100%
  );
}

.main-content__title {
  padding: 30px;
  color: rgb(241, 231, 231);
  font-size: 5rem;
  font-family: "Inter-SemiBold";
  text-shadow: 0 2px 8px rgba(236, 229, 229, 0.5);
  margin: 0 auto 70px;
  text-align: center;
}

.main-content__subtitle {
  padding: 50px;
  color: rgb(241, 231, 231);
  font-size: 2rem;
  /* font-weight: bold; */
  text-shadow: 0 2px 8px rgba(236, 229, 229, 0.5);
  text-align: center;
}

.search-bar__container {
  background-image: cross-fade();
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
  padding-bottom: 40px;
  /* position: relative; */
  overflow: visible;
  /* border: 1px solid blue; */
}

/* Hero Base */
.hero {
  width: 100vw;
  min-height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Imagen atractiva de fondo */
  background-image: url("../images/shot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Animación de entrada suave */
  opacity: 0;
  animation: fadeInHero 1.2s ease-out forwards;
}

/* Overlay oscuro para mejor legibilidad */
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* Contenido sobre el overlay */
.hero__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 1rem;
  height: 30vh;
}

/* Título */
.hero__title {
  font-size: 5rem;
  font-weight: "inter-semiBold";
  text-shadow: 0 2px 8px rgb(255, 242, 242);
  margin-bottom: 0.3rem;
  padding-top: 0;
  margin-top: 0;
}

/* Subtítulo */
.hero__subtitle {
  font-size: 2.2rem;
  font-weight: "inter-medium";
  text-shadow: 0 2px 8px rgb(255, 242, 242);
  opacity: 0.9;
  margin-bottom: 1rem;
}

/* Animación Fade */
@keyframes fadeInHero {
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 641px) and (max-width: 920px) {
  .hero__title {
    font-size: 2rem;
    margin-bottom: 0.1rem;
  }
  .hero__subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .hero__title {
    font-size: 1.8rem;
    margin-bottom: 0.1rem;
  }
  .hero__subtitle {
    font-size: 1.2rem;
  }
}
