.info-tooltip__container {
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.info-tooltip__image {
  width: 120px;
  height: 120px;
}

.info-tooltip__message {
  font-size: 24px;
  font-family: "Inter-Black", Arial, Helvetica, sans-serif;
  color: fff;
  text-align: center;
  margin: 32px 0;
  width: 328px;
  line-height: 1.4;
  word-wrap: break-word;
}

.info-tooltip__icon {
  font-size: 48px;
  color: #4caf50;
  margin-bottom: 12px;
}

.info-tooltip__line {
  display: block;
}

.info-tooltip__close-button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-tooltip__close-button:hover {
  background: #45a049;
}

@media screen and (max-width: 640px) {
  .info-tooltip {
    width: 280px;
    height: 308px;
  }

  .info-tooltip__image {
    width: 120px;
    height: 120px;
    /* margin-bottom: 40px; */
    margin-top: 50px;
  }

  .info-tooltip__message {
    font-size: 18px;
    margin-top: 40px 18px 26px;
    width: 70%;
  }

  .info-tooltip__icon {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .info-tooltip__close-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
