.about {
  min-height: 100vh;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(3, 9, 23) 0%,
    rgb(41, 62, 40) 51%,
    rgb(6, 13, 29) 100%
  );
}

.about__container {
  padding-top: 8rem;
  max-width: 900px;
  display: grid;
  gap: 2rem;
}

/* Cards mínimas */
.about__card {
  /* background: #ffffff; */
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease;
}

.about__card:hover {
  border-color: #cfcfcf;
}

/* Títulos */
.about__title {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

/* Textos */
.about__text {
  font-size: 1rem;
  line-height: 1.55;
  color: #333;
}

/* Listas */
.about__list {
  padding-left: 1.2rem;
}

.about__list-item {
  margin-bottom: 0.4rem;
  color: #444;
}

/* FOTO */
.about__photo-wrapper {
  display: flex;
  justify-content: center;
}

.about__photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e5e5e5;
}

/* LINKS */
.about__links {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.about__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #1d4ed8;
  padding: 0.1rem 1rem;
  border-radius: 8px;
  border: 1px solid #1d4ed8;
  transition: 0.2s ease;
  height: 80%;
}

.about__link:hover {
  background: #1d4ed8;
  color: white;
}

.about__icon {
  width: 60px;
  height: 60px;
  margin: 0.3rem 0.5rem;
  border-radius: 50%;
}
