/* Main Content Styles */
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  z-index: 1;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(12, 15, 24) 0%,
    rgb(61, 31, 22) 51%,
    rgb(2, 19, 57) 100%
  );
}

.main-content__title {
  padding: 30px;
  color: rgb(241, 231, 231);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

.main-content__subtitle {
  padding: 10px;
  color: rgb(241, 231, 231);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.search-bar__container {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  /* border: 1px solid blue; */
}
