.dashboard {
  /* position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  padding: 40px;
  background: linear-gradient(
    90deg,
    rgb(14, 62, 11) 0%,
    #367102 51%,
    rgb(43, 80, 48) 100%
  );
  /* background: linear-gradient(135deg, #fceabb 0%, #f8b500 100%); */

  width: 100%;
  height: 100vh;
}

.dashboard__title {
  padding: 20px;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.dashboard__subtitle {
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

/* .card-dashboard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
} */

/* .progress-bar-container {
  width: 40%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 50px;
} */
