/* Footer Styles */
.footer {
  width: 100%;
  /* position: fixed; */
  /* bottom: 0;
  left: 0;
  /* z-index: 1; */
  /*background: rgba(0, 0, 0, 0.826); */
  /* backdrop-filter: blur(10px); */
  background: linear-gradient(
    90deg,
    rgb(1, 20, 105) 0%,
    rgba(121, 186, 230, 0.49) 51%,
    rgb(1, 20, 102) 100%
  );
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer p {
  margin: 0;
  opacity: 0.8;
}
