.header__user-name-button {
  background: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

/* .header__user-name-button:hover {
  border-color: #646cff;
} */
.header__user-name-button:focus,
.header__user-name-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header__user-name {
  color: white;
  cursor: pointer;
  z-index: 1;
  font-size: 16px;
  font-family: "inter-medium", Arial, Helvetica, sans-serif;
}

.header__logout-btn {
  margin-left: 0;
  background: #353232;
  border: solid 1px #ee0606;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.3s, transform 0.3s;
  position: relative;
  z-index: 2;
}

/* Hover user/logout slide */
.header__user-hover-area {
  display: flex;
  align-items: center;
  /* position: relative; */
  /* border: solid 1px greenyellow; */
}
.header__user-hover-area:hover .header__logout-btn,
.header__user-name:focus + .header__logout-btn {
  opacity: 1;
  transform: translateX(0);
}

.header {
  width: 100%;
  padding: 0;
  background-color: rgba(133, 133, 133, 0.5); /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  position: fixed; /* Fijo en la parte superior */
  top: 0;
  left: 0;
  z-index: 100; /*Asegura que esté por encima de otros elementos */
}

.header__container {
  width: 1480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__logo-name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.header__logo {
  display: flex;
  width: 160px;
  height: auto;
  margin: 5px 5px;
  align-items: center;
}

.header__title {
  font-family: "Inter-Bold", Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin: 10px 5px;
  color: rgba(255, 255, 255, 0.5);
}

.header__spacer {
  /* height: 60px; Ajusta este valor según la altura de tu header */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  /* position: relative; */
}

.header__account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__signup-button {
  border-radius: 20px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  padding: 3px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(133, 133, 133, 0.5);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.header-profile__avatar {
  display: flex;
  align-items: center;
  min-width: 160px;
  height: 40px;
  margin: 5px 15px;
  position: relative;
  overflow: visible;
  background: transparent;
}

.header-profile__avatar-image-container {
  display: flex;
  width: 40px;
  height: 40px;
  /* border: solid 1px white; */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
}
.header-profile__avatar-image {
  display: flex;
  width: 47.5px;
  height: 47.5px;
  position: absolute;
  top: -5px;
  right: 0px;
  clip-path: circle(50%);
  object-fit: cover;
  /* border: solid 3px green; */
}

.header__profile-avatar__edit_button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: rgba(133, 133, 133, 0.5);
  /* border: solid 1px white; */
}

.header__profile-avatar__edit_button:hover {
  opacity: 1;
  /* border: solid 1px white; */
}

.header__profile-avatar__edit_button-icon {
  width: 50%;
  height: 50%;
  object-fit: contain;
  z-index: 3;
  margin: 25%;
}
