/* .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__link {
  color: #9cbbff;
  text-decoration: none; */
/*font-size: 22px;
  line-height: 30px;
  margin-right: 15px; */
/* height: 6em;
  padding: 1em;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link_active {
  color: #437dff;
  pointer-events: none;
} */

/* @media screen and (max-width: 950px) {
  .menu {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu__link {
    margin-right: 0;
  }
} */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0 10px;
}
/* .navbar li {
  list-style: none;
} */

.navbar__link-home {
  background: none;
  border: none;
  color: #9fd5e8;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
}
.navbar__link-home:hover {
  color: #747bff;
}

.navbar__link {
  background: none;
  border: none;
  color: #1a1b22;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
}

.navbar__link-active {
  color: #747bff;
  font-weight: bold;
}

.navbar__link-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.navbar__lock {
  margin-left: 5px;
  font-size: 12px;
}

.navbar__auth {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.navbar__user {
  font-size: 18px;
  color: #1a1b22;
}

.navbar__button {
  background: none;
  border: 1px solid #1a1b22;
  border-radius: 100px;
  padding: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .navbar__link:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
