.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0 10px;
}

.navbar__link-home {
  background: none;
  border: none;
  color: #3dc1f1;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
}
.navbar__link-home:hover {
  transition: ease-in-out 0.3s;
  text-shadow: 0 0 5px #747bff, 0 0 10px #747bff, 0 0 20px #747bff;
  color: #747bff;
}

.navbar__link {
  background: none;
  border: none;
  color: #1a1b22;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  text-decoration: none;
}
.navbar__link:hover {
  transition: ease-in-out 0.3s;
  text-shadow: 0 0 5px #747bff, 0 0 10px #747bff, 0 0 20px #747bff;
  color: #747bff;
}

.navbar__link-active {
  color: #747bff;
  font-weight: bold;
}

.navbar__link-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.navbar__lock {
  margin-left: 5px;
  font-size: 12px;
}

.navbar__auth {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.navbar__user {
  font-size: 18px;
  color: #1a1b22;
}

.navbar__button {
  background: none;
  border: 1px solid #1a1b22;
  border-radius: 100px;
  padding: 8px;
}

/* RESPONSIVE DESIGN - TABLET (641px - 920px)*/
@media screen and (min-width: 641px) and (max-width: 920px) {
  .navbar__list {
    gap: 15px;
  }

  .navbar__link-home,
  .navbar__link {
    font-size: 13px;
  }
}

/* =RESPONSIVE DESIGN - MOBILE (max-width: 640px)*/
@media screen and (max-width: 640px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgb(33, 30, 30) 0%,
      rgb(2, 7, 57) 51%,
      rgb(2, 47, 95) 100%
    );
    opacity: 0.95;
    text-shadow: 0 2px 6px rgb(255, 242, 242);
    /* transition: left 0.4s ease; */
    transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar--mobile-open {
    left: 0;
  }

  .navbar__list {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .navbar__link-home,
  .navbar__link {
    font-size: 2rem;
    color: rgb(212, 210, 210);
    font-family: "Inter-semibold", sans-serif;
  }

  .navbar__link-home:hover,
  .navbar__link:hover {
    color: #24307b;
  }

  .navbar__link-active {
    color: #9fd5e8;
    font-family: "inter-semibold", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .navbar__link:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
