.videos__container {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  max-width: 1480px;
  column-gap: 2em;
  row-gap: 3em;
  padding: 1em;
  object-fit: cover;
}

/* .grid-video {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
} */

.videos__grid-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0001;
  padding: 12px;
}

.videos__thumbnail {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.videos__title {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  margin: 8px 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.videos__channel-name {
  font-size: 13px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.videos__channel-link {
  font-size: 13px;
  color: #1976d2;
  text-decoration: none;
}

.videos__save-like-trash-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute;
  top: 12px;
  right: 12px; */
  /* gap: 8px;
  margin-top: 8px; */
}

.videos__save-button {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: rgba(25, 118, 210, 0);
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 8px;
}

.videos__like-button {
  margin-top: 8px;
  background-color: rgba(25, 118, 210, 0);
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.videos__delete-btn {
  margin-top: 8px;
  background-color: rgba(25, 118, 210, 0);

  border-radius: 6px;
  padding: 6px 12px;
}

.videos__delete-btn.enabled {
  /* background: #e74c3c; */
  background-color: rgba(25, 118, 210, 0);
  cursor: pointer;
  opacity: 1;
}

.videos__delete-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/*
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
