.videos__container {
  padding-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videos__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1480px;
  column-gap: 2em;
  row-gap: 3em;
  padding: 1em;
  object-fit: cover;
}

.grid-video {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.videos__grid-wrapper {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.videos__list {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  gap: 2em;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  /* overflow-y: auto; */
  width: 300px;
}

.videos__title {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  text-align: start;
}

.videos__delete-btn {
  margin-top: 8px;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}

.videos__delete-btn.enabled {
  background: #e74c3c;
  cursor: pointer;
  opacity: 1;
}

.videos__delete-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/*
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */
