@import url("./blocks/header.css");
@import url("./blocks/footer.css");
@import url("./blocks/content.css");
@import url("./blocks/page.css");
@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./blocks/videos.css");
@import url("./blocks/searchBar.css");
@import url("./blocks/popup.css");
@import url("./blocks/loginForm.css");
@import url("./blocks/registerForm.css");
@import url("./blocks/dashboard.css");
@import url("./blocks/navBar.css");
@import url("./blocks/reviews.css");
@import url("./blocks/aboutMe.css");
@import url("./blocks/editProfile.css");
@import url("./blocks/playlistModal.css");
@import url("./blocks/editAvatar.css");
@import url("./blocks/preloader.css");
@import url("./blocks/videoPreloader.css");
@import url("./blocks/InfoTooltip.css");
